body {
    background: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #10d372;
    font-size: 60px;
    font-family: 'Readex Pro', sans-serif;
    letter-spacing: 7px;
   


}